<!DOCTYPE html>
<html lang="en">
<head> 
    <link rel="stylesheet" href="../../static/main/categories_css/style.css"> 
    <link rel="stylesheet" href="../../static/main/categories.css/layout.css">
    <link rel="stylesheet" href="https://kit-pro.fontawesome.com/releases/v5.15.1/css/pro.min.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
            <!-- header navbar start -->
            <section id="header">
                <div class="header-navbar">
                    <div class="header-container">
                       <div class="navbar-logo">
                          <img src="../../static/img/Screenshot_1.png" title="Company Brand">
                       </div>
                       <div class="navbar-nav">
                          <ul>
                            <li>
                                <a href="index.html">Home</a>
                                <a href="categories.html">Categories</a>
                                <a href="about.html">About</a>
                                
                                 <a href="login.html">Log In</a>
                                 <a href="contactus.html">Contact</a> 
                                 <a href="button.html">
                                    <button><i class="fas fa-user-circle"></i></button>
                                 </a>
                        <a href="">
                           <button><i class="fas fa-shopping-cart"></i></button>
                        </a>
                             </li>
                          </ul>                             
                       </div>
                    </div>           
                 </div>
            </section>           
            <!-- header navbar end -->

            <!-- start store -->
            <div class="store-view">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-heading">
                                <h1>The Collection</h1>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <div class="store-item">
                                <img src="img/picture2.webp" alt="">
                                <div class="title">
                                    <h1>I'm a Product </h1>
                                    <h2>$80.00 Price</h2>                                
                                 </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="store-item">
                                <img src="img/112.webp" alt="">
                                <div class="title">
                                    <h1>I'm a Product </h1>
                                    <h2>$95.00 Price</h2>                                
                                 </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="store-item">
                                <img src="img/113.webp" alt="">
                                <div class="title">
                                    <h1>I'm a Product </h1>
                                    <h2>$70.00 Price</h2>                                
                                 </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="store-item">
                                <img src="img/111.webp" alt="">
                                <div class="title">

                                    <h1>I'm a Product </h1>
                                    <h2>$80.00 Price</h2>                                
                                 </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <div class="store-item">
                                <img src="img/1..webp" alt="">
                                <div class="title">
                                    <h1>I'm a Product </h1>
                                    <h2>$45.00 Price</h2>                                
                                 </div>
                            </div>
                         </div>
                         <div class="col-3">
                            <div class="store-item">
                                <img src="img/2..webp" alt="">
                                <div class="title">
                                    <h1>I'm a Product </h1>
                                    <h2>$75.00 Price</h2>                                
                                 </div>
                            </div>
                         </div>
                         <div class="col-3">
                            <div class="store-item">
                                <img src="img/3..webp" alt="">
                                <div class="title">
                                    <h1>I'm a Product </h1>
                                    <h2>$90.00 Price</h2>                                
                                 </div>
                            </div>
                         </div>
                         <div class="col-3">
                            <div class="store-item">
                                <img src="img/4..webp" alt="">
                                <div class="title">
                                    <h1>I'm a Product </h1>
                                    <h2>$60.00 Price</h2>                                
                                 </div>
                            </div>
                            
                        
                         </div>
                    </div> 
                    <div class="row">
                        <div class="col-3">
                            <div class="store-item">
                                <img src="img/2.10.webp" alt="">
                                <div class="title">
                                    <h1>I'm a Product </h1>
                                    <h2>$70.00 Price</h2>                                
                                 </div>
                            </div>
                         </div>
                         <div class="col-3">
                            <div class="store-item">
                                <img src="img/2.11.webp" alt="">
                                <div class="title">
                                    <h1>I'm a Product </h1>
                                    <h2>$90.00 Price</h2>                                
                                 </div>
                            </div>
                         </div>
                         <div class="col-3">
                            <div class="store-item">
                                <img src="img/2.12.webp" alt="">
                                <div class="title">
                                    <h1>I'm a Product </h1>
                                    <h2>$80.00 Price</h2>                                
                                 </div>
                            </div>
                         </div>
                         <div class="col-3">
                            <div class="store-item">
                                <img src="img/2.13webp.webp" alt="">
                                <div class="title">
                                    <h1>I'm a Product </h1>
                                    <h2>$60.00 Price</h2>
                                </div>
                            </div>
                            
                        
                         </div>
                    </div>    
                </div>
            </div>
            <!-- end store -->

             <!-- footer start -->
            <section id="footer">
                <div class="row">
                   <div class="col-3">
                      <div class="footer-item">
                         <ul>
                           <li>Home</li>
                           <li>Categories</li>
                           <li>About</li>
                           <li>Log In</li>
                         </ul>        
                      </div>
                   </div>
                   <div class="col-3">
                      <div class="footer-item">
                         <ul>
                            <li>500 Terry Francois St</li>
                            <li>San Francisco, CA 94158</li>
                            <li>Email : info@my-domain.com</li>
                            <li>Tel : 1-800-000-0000</li>
                         </ul>
                      </div>
                   </div>
                   <div class="col-3">
                      <div class="footer-item">
                         <ul>
                            <li>Shopping & returns</li>
                            <li>FAQ</li>
                         </ul>
                      </div>
                      <div class="footer-social-icons">
                         <i class="fab fa-facebook-f"></i>
                         <i class="fab fa-twitter"></i>
                         <i class="fab fa-instagram"></i>
                      </div>
                   </div>
                   <div class="col-3">
                      <div class="item">
                         <div class="title">
                            <h4>Receive all our news and updates</h4>
                         </div>
                         <div class="contact">
                            <form>
                               <div class="form-element">
                                  <input type="email" placeholder="Email address*">
                               </div>
                               <div class="form-element">
                                  <input type="button" value="Subscribe now">
                               </div>
                            </form>
                         </div>
                      </div>           
                   </div>
                </div>
             </section>
             <!-- End footer-->
    </div>
</body>
</html>