{% extends 'main/base.html' %}

{% block main %}

<!-- start store -->
<div class="store-view">
   <div class="container">
       <div class="row">
           <div class="col-12">
               <div class="section-heading">
                   <h1>The Collection</h1>
               </div>
           </div>
       </div>
       <div class="row">
           <div class="col-3">
               <div class="store-item">
                   <img src="img/picture2.webp" alt="">
                   <div class="title">
                       <h1>I'm a Product </h1>
                       <h2>$80.00 Price</h2>                                
                    </div>
               </div>
           </div>
           <div class="col-3">
               <div class="store-item">
                   <img src="img/112.webp" alt="">
                   <div class="title">
                       <h1>I'm a Product </h1>
                       <h2>$95.00 Price</h2>                                
                    </div>
               </div>
           </div>
           <div class="col-3">
               <div class="store-item">
                   <img src="img/113.webp" alt="">
                   <div class="title">
                       <h1>I'm a Product </h1>
                       <h2>$70.00 Price</h2>                                
                    </div>
               </div>
           </div>
           <div class="col-3">
               <div class="store-item">
                   <img src="img/111.webp" alt="">
                   <div class="title">

                       <h1>I'm a Product </h1>
                       <h2>$80.00 Price</h2>                                
                    </div>
               </div>
           </div>
       </div>
       <div class="row">
           <div class="col-3">
               <div class="store-item">
                   <img src="img/1..webp" alt="">
                   <div class="title">
                       <h1>I'm a Product </h1>
                       <h2>$45.00 Price</h2>                                
                    </div>
               </div>
            </div>
            <div class="col-3">
               <div class="store-item">
                   <img src="img/2..webp" alt="">
                   <div class="title">
                       <h1>I'm a Product </h1>
                       <h2>$75.00 Price</h2>                                
                    </div>
               </div>
            </div>
            <div class="col-3">
               <div class="store-item">
                   <img src="img/3..webp" alt="">
                   <div class="title">
                       <h1>I'm a Product </h1>
                       <h2>$90.00 Price</h2>                                
                    </div>
               </div>
            </div>
            <div class="col-3">
               <div class="store-item">
                   <img src="img/4..webp" alt="">
                   <div class="title">
                       <h1>I'm a Product </h1>
                       <h2>$60.00 Price</h2>                                
                    </div>
               </div>
               
           
            </div>
       </div> 
       <div class="row">
           <div class="col-3">
               <div class="store-item">
                   <img src="img/2.10.webp" alt="">
                   <div class="title">
                       <h1>I'm a Product </h1>
                       <h2>$70.00 Price</h2>                                
                    </div>
               </div>
            </div>
            <div class="col-3">
               <div class="store-item">
                   <img src="img/2.11.webp" alt="">
                   <div class="title">
                       <h1>I'm a Product </h1>
                       <h2>$90.00 Price</h2>                                
                    </div>
               </div>
            </div>
            <div class="col-3">
               <div class="store-item">
                   <img src="img/2.12.webp" alt="">
                   <div class="title">
                       <h1>I'm a Product </h1>
                       <h2>$80.00 Price</h2>                                
                    </div>
               </div>
            </div>
            <div class="col-3">
               <div class="store-item">
                   <img src="img/2.13webp.webp" alt="">
                   <div class="title">
                       <h1>I'm a Product </h1>
                       <h2>$60.00 Price</h2>
                   </div>
               </div>
               
           
            </div>
       </div>    
   </div>
</div>
<!---->
<!-- end store -->

{% endblock %}
